header {
    background-color: #92c7cfff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-direction: column; /* Alinea los elementos verticalmente */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Estilos para los enlaces en el menú activos */
nav a:hover {
    color: #000000;
}

/* Estilos para el enlace actual en el menú */
nav a.current {
    font-weight: bold;
    color: #e5e0daff;
}

/* Estilo para el logotipo */
.logo {
    text-align: center; /* Centra el logotipo horizontalmente */
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    max-width: 100%
}

nav {
    text-align: center; /* Centra el menú horizontalmente */
    margin-top: 10px; /* Añade espacio entre el logotipo y el menú */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e0daff;
}

#inicio {
    background-image: url('cover.png');
    height: 10vh;
    margin-bottom: 10px; /* Agrega margen en la parte inferior para separar de la siguiente sección */
    padding: 350px; /* Agrega espacio interno */
    background-size: cover;
    background-position: center;
    max-width: 100%
}

/* Estilo para la sección  carrousel */
.carrousel{
    display: flex;
    width: 100%;
    height: 530px;
}
.carrousel img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.carrousel img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* ------------ fin carrousel ---------- */

/* Estilo para el artículo a la izquierda (Servicios) */
#section-a,
.quienessomos {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0a6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#section-a .text-container,
.quienessomos .text-container {
  flex: 1;
  padding: 20px;
}
/* ------ Section-b ------------- */
.section-b {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f000;
  border-radius: 8px;
}

.section-b .text-container {
  flex: 1;
  padding: 20px;
}

.section-b .text-container h2 {
  color: #283629;
  font-size: 29px;
}

.section-b .text-container p {
  color: #283629;
}

.section-b .image-container {
  flex: 1;
  overflow: hidden; /* Añadido para que la imagen no sobresalga del contenedor */
}

.section-b .image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  /* ---------------- end of section b ------------ */
  /* gallery */ 
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 3px; /* Añadida separación mínima entre las imágenes */
    padding: 20px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 5px;
}

.gallery-item:hover {
    cursor: crosshair;
    transform: scale(1.1);
    opacity: 1;
    filter: contrast(120%);
}


  /* ----------------------------------- Estilos for portal-empleado --------------------------------------------------------- */

.portal-empleado {
  display: flex; 
  justify-content: space-around; 
  background-color: rgba(229, 224, 218, 0); 
  padding: 10px; 
}

/* Estilos para cada caja de información */
.box {
  width: 200px; 
  height: 200px; 
  background-color: #ccc; 
  border: 1px solid #000; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.3s ease; 
  text-decoration: none; /* Quita el subrayado del enlace */
}

/* Estilos al pasar el mouse sobre las cajas */
.box:hover {
  transform: scale(1.1); 
}

/* Estilos para las cajas dentro del contenedor principal */
.portal-empleado .box {
  flex: 1; 
  margin: 10px; 
  padding: 5px; 
  background-color: #f0f0f0a6; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  text-align: center; 
}

/* Estilos para el texto dentro de las cajas */
.portal-empleado .box h1,
.portal-empleado .box p {
  color: #283629; 
}

/* Estilos específicos para el texto dentro de las cajas al hacer hover */
.box:hover h1 {
  color: #92c7cfff; 
}
/* ------------------------------------------------- fin de portal-empleado -------------------------------------------------------------*/
  
/* ------------------- conoce a tu equipo ---------------- */
.conoceEquipo {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f986; /* Color de fondo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
}

.text-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 18px;
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.miembro {
  text-align: center;
  margin: 20px;
}

.miembro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.miembro h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.miembro p {
  font-size: 16px;
  color: #666;
  margin: 0;
}


/* ------------------- fin conoce a tu equipo ----------- */
/* -----------------------------------------------------------Estilos para contenedor-contacto ------------------------------------------------------*/
.contenedor-contacto {
  background-color: #e5e0daff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.contenedor-contacto h2 {
  color: #283629;
  font-size: 28px;
  margin-bottom: 20px;
}

.contenedor-contacto .datos {
  display: flex;
  justify-content: center;
}

.contenedor-contacto .datos_1 {
  margin-right: 20px;
  text-align: left;
}

.contenedor-contacto .datos_1 i {
  margin-right: 10px;
  color: #283629;
}

.contenedor-contacto form {
  text-align: left;
  width: 60%; /* Adjust the width as needed */
  margin: auto; /* Center the form horizontally */
}

.contenedor-contacto .contenedor-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items inside the form */
}

.contenedor-contacto input[type="text"],
.contenedor-contacto input[type="email"],
.contenedor-contacto input[type="submit"],
.contenedor-contacto textarea {
  width: 100%; /* Make the inputs full-width */
  max-width: 400px; /* Limit the maximum width */
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: #fff;
  border: 0.2px solid #798079;
  color: #1e1f1e;
  outline: none;
}

.datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Spread items evenly */
}

.datos_1 {
  margin-top: 10px;
}

  
/*---------------------------------------------------------- Fin contactanos --------------------------------------------------------- */ 

/* -------- FOOTER ------------ */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
}

.Social-Network{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: #e5e0daff;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.Social-Network a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: #92c7cfff
    ;
    font-family: 'Lato', sans-serif;
}

.Social-Network a:hover {
    color: #aad7daff; /* Cambia el color al pasar el ratón por encima */
}

/* Agregamos un espacio entre los iconos y el párrafo */
.Social-Network p {
    margin-top: 10px;
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  .logo img {
      margin-right: 0;
  }

  nav {
      margin-top: 10px;
  }

  .gallery {
      grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item {
      margin: 5px;
  }

  #section-a,
  .quienessomos,
  .section-b,
  .image-container img,
  .portal-empleado .box,
  .contenedor-contacto .datos_1 {
      padding: 10px;
      margin: 10px;
  }

  .contenedor-contacto .datos_1 {
      margin-left: 0;
  }

  .contenedor-contacto input[type="text"],
  .contenedor-contacto input[type="email"],
  .contenedor-contacto input[type="submit"],
  .contenedor-contacto textarea {
      padding: 15px;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .gallery {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 1025px) {
  .gallery {
      grid-template-columns: repeat(3, 1fr);
  }
}

/*------------------ FORM 1 -------------- */ 
.input-group {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0a6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.input-group {
  flex: 1;
  padding: 20px;
}

/*------- Form revision medica ----------- */
form {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 50%;
  margin: 0 auto; /* Center the form horizontally */
}

/* =================================================================
                      input-Group
====================================================================*/
.input-group{
  display: flex; /* ponemos la caja flexible*/
  flex-direction: column; /* ponemos en columnas todo lo que esta dentro de la caja*/
  text-align: left; /* alineamos todo el texto dentro de la caja a la izquierda*/
}

.contenedor-mensaje{
  width: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* =================================================================
                      h1, h2, h3,h4, h5, h6
====================================================================*/
h2{
  color: #283629; /* aggregamos color a los titulos*/
  font-size: 29px; /* le agregamos un tamoño a los titulos*/
  margin-bottom: 10px; /* Add space below h2 titles */
  text-align: center;
}

p {
  margin-bottom: 20px; /* Add space below paragraphs */
  text-align:center;
}
/* =================================================================
                              Label
====================================================================*/

label{
  color: #283629; /* aggregamos color a las letras dentro del formulario*/
  font-size: 15px; /* ponemos el tamaño de las letras*/
  font-weight: 600px; /*le ponemos un tamaño a las letras*/
  margin-bottom: 15px;/* aplicamos un margen a la parte inferior de cada label*/ 
}
/*==================================================================
                          input and placeholder
====================================================================*/
input, select{
  padding: 17px 25px; /* relleno del los input*/
  border-radius: 25px; /* redondeo las esquinas exterior*/
  margin-bottom: 20px; /* aplicamos margen a la parte inferior*/
  margin-top: 5px; /* aplicamos margen a la parte de arriba*/
  background-color: #fff; /* ponemos un color al relleno*/
  border: 0.2px solid #798079; /* le aplicamos color a las lineas del border*/
  color: #1e1f1e; /* aplicamos color a las letras dentro del input*/
  outline: none; /* le quitamos las propiedades al contorno*/

}

input::placeholder{
  color: #0f0f0f; /* le aplicamos un color al texto predeterminado dentro del border*/
}
/*================================================================
                          btn
==================================================================*/

.btn,#btn{
  font-size: 16px;
  color: black;
  border: 0;
  border-radius: 25px;
  background-color: #ffff;
  box-shadow: 0 0 20px rgba(155, 167, 154, 0.4);
  cursor: pointer;
}

.btn:hover, #btn:hover{
  background-color: #92c7cfff;
}

/*---------------------- seccion portal empleado --------------------------------- */

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffffb9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.employee-info {
  display: flex;
  align-items: flex-start; /* Alinear el contenido hacia arriba */
}
.employee-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}
.employee-details {
  font-size: 18px;
  text-align: justify; /* Alinear el texto justificado */
}
.employee-details h2 {
  margin-top: 0;
}
